
vod_webapp/\.idea/

vod_webapp/db\.sqlite3

vod_webapp/bower_components/bootstrap/

vod_webapp/bower_components/jquery/

\.DS_Store

\.idea/

vod_webapp/csv_upload/migrations/

vod_webapp/upload/migrations/
