{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>VOD SYSTEMS</h1>
        <p>This is the main page for <b>VOD System</b>. From here you can jump off to any of the projects we have developed</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Who are we?</h3>
          <p>{Add some text about who we are ...}</p>
        </div>
        <div class="col-sm-4">
          <h3>Developed solutions</h3>

            <table class="table">

                <tr class="info"> <a href="./vod/upload_demog.html">VOD Severity</a></tr>
                <tr> <p>A application that provides a means of scoring suspected VOD diagnosis in patients based
                        on a stream of lab result data provided for patients post-transplant</p></tr>

            </table>
        </div>
        <div class="col-sm-4">
          <h3>Contact us</h3>
          <p>Contact us as: info@vod.systems </p>
        </div>
      </div>
    </div>
{% endblock %}

